body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    padding: 10px;
    background-color: gold;
    color: white;
    gap: 400px;
    text-shadow: 2px 2px 2px rgb(240, 111, 6);
}

.ode {
    font-size: 24px;
    display: flex;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 80px;

}

.container {
    display: flex;
    gap: 20px; 
    font-size: 18px;
}

.let-me {
    font-size: 48px;
    font-weight: 700;
    background-color: gold;
    color: rgb(20, 147, 185);
    text-shadow: 2px 2px 2px rgb(255, 96, 123);
    margin-left: 80px;
    margin-top: 90px;
    max-width: 500px;
}

.dedication {
    display: flex;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 2px limegreen;
    max-width: 500px;
    margin-top: 30px;
}

.body {
    background-color: gold;
    display: flex;
    gap: 150px;
    padding-bottom: 40px;;
}

.container-two {
    display: flex;
}

.image img {
    width: 450px;
    margin-top: 80px;
}

.button button {
    font-size: 24px;
    margin-top: 20px;
    border-radius: 12px;
    border-color: green;
    background-color: rgb(46, 138, 9);
    color: gold;
    text-shadow: 1px 1px 1px rgb(245, 62, 62);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

