body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    padding: 10px;
    font-weight: 800;
    background-color: gold;
    color: white;
    width: auto;
}

.container {
    display: flex;
    align-content: flex-end;
}

ul {
    text-decoration: none;
    list-style: none;
}

.ode {
    font-size: 24px;
}