body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    padding: 10px;
    background-color: gold;
    color: white;
    border-bottom: 5px solid palevioletred;
    gap: 400px;
    text-shadow: 1px 1px 1px rgb(240, 111, 6);
}

.ode {
    display: flex;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 80px;

}

.container {
    display: flex;
    gap: 20px;
    
}

ul {
    text-decoration: none;
    list-style: none;
}

.ode {
    font-size: 24px;
}